.input{
    margin-left: 50px;
    height: 40px;
    width: 250px;
    color: black;
    background-color: white;
    border: 2px solid black;
}
.outerdiv{
    display:inline-block;
    padding:  5px 5px 5px 5px ;
    height: 500px;
    width: 350px;
    background: linear-gradient(135deg ,#00feba, #5b548a);
    color:#fff;
    border: 5px solid black;

}
.clickbox{
    margin-left: 50px;
    height: fit-content;
    width: fit-content;
    text-align: left;
    
}

.btn-submit{
    height: 40px;
    width: 120px;
    margin-right: 10px;
    border: 2px solid black;
    background-color: cadetblue;
}
.btn-copy{
    height: 40px;
    width:120px ;
    border: 2px solid black;
    background-color: cadetblue;
}
.range{
    margin: auto;
    height: 40px;
    width: 250px;
    text-align: left;
   
}
